/**
 * Record
 */

@import '../variables';

.record {
	flex-basis: 50%;
	min-width: 400px;
	max-width: 400px;
	padding: 20px;
	margin: 10px;
	border-radius: $borderRadius;
	border: 1px solid map-get($colours, 'dark-grey');
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	cursor: pointer;

	&--edit {
		padding: 20px 10px;
		cursor: default;
	}

	&__image {
		width: 50px;
		height: 50px;
		margin-right: 20px;

		.record--edit & {
			width: 30px;
			height: 30px;
			margin-right: 10px;
		}
	}

	&__title {
		text-align: left;
	}

	&__details {
		list-style: none;
		margin: 0 10px 0 0;
		padding: 0;

		li {
			margin-top: 4px;
			font-size: 1.4rem;
		}
	}

	&__condition {
		margin: auto -10px 0 auto;
	}
}

.edit {

	&[class] {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 20px;
		right: 15px;
		margin: 0;
	}

	&__image {
		width: 20px;
		height: 20px;
		opacity: 0;
		transition: all $transitionStyle;

		.record:hover &,
		.record:focus & {
			opacity: 0.7;
		}
	}
}

.form {
	width: 100%;

	&__inlinefields {
		display: flex;
		align-items: center;
		justify-content: space-between;

		* + & {
			margin-top: 8px;
		}
	}

	&__smallfield[class] {
		flex-basis: 140px;
		display: inline-flex;
		flex-shrink: 0;

		& + & {
			flex-basis: 100%;
			flex-shrink: 1;
			margin: 0 0 0 20px;
		}
	}

	&__button[class] {
		font-size: 1.4rem;
		line-height: 1.4rem;
		padding: 0.8rem 1rem;
		margin-top: 10px;
		margin-left: 10px;
	}
}
