{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "arrow-body-style" : "warn",
    "arrow-parens": "off",
    "max-len": "off",
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": 0,
    "react/no-unescaped-entities": 0,
    "react/prop-types": "off"
  }
}
