/**
 * Button
 */

@import '../variables';

.button {
	display: inline-block;

	margin: 0;
	padding: 1.4rem 1.4rem;

	background-color: map-get($colours, 'button-primary');
	color: map-get($colours, 'copy-button-primary');
	text-decoration: none;

	border: none;
	border-radius: $borderRadius;

	vertical-align: middle;
	cursor: pointer;

	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.6rem;

	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	text-align: center;
	transition: all $transitionStyle;

	&:hover {
		background-color: map-get($colours, 'button-primary-hover');
		text-decoration: none;
	}

	&:focus {
		outline: none;
		box-shadow: $focusOutline;
	}

	&:active {
		background-color: map-get($colours, 'button-primary-active');
	}

	* + & {
		margin-top: 2.5rem;
	}

	&--secondary {
		background-color: map-get($colours, 'button-secondary');
		color: map-get($colours, 'copy-button-secondary');

		&:hover {
			background-color: map-get($colours, 'button-secondary-hover');
		}

		&:active {
			background-color: map-get($colours, 'button-secondary-active');
		}
	}

	&[disabled],
	&--disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	&--full {
		width: 100%;
		display: block;
	}

	/* Style as a text link */
	&--text {

		&[class] {
			background: none;
			box-shadow: none;

			display: inline-block;
			width: auto;
			height: auto;
			//min-height: 0;
			padding: 0;

			text-align: left;
			text-transform: none;

			&,
			&:hover,
			&:focus {
				background: none;
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}
