/**
 * Variables
 */

$colours: (
	'white': #ffffff,
	'background': #eaedef,
	'shade': #cbd3d9,
	'dark-grey': #3c3c40,
	'copy': #19191f,

	'poor': #dc3545,
	'fair': #e0a800,
	'good': #25883b,
	'very_good': #09c134,
	'mint': #51bcfc,

	'button-primary': #007bff,
	'button-primary-hover': #0069d9,
	'button-primary-active': #0062cc,
	'copy-button-primary': #fff,

	'button-secondary': #6c757d,
	'button-secondary-hover': #212529,
	'button-secondary-active': #545b62,
	'copy-button-secondary': #fff,

	'labels': #3c3c40,
	'border-inactive': #cbd3d9,
	'border-active': #3c3c40,

	'error': #dc3545,
	'alert': #fff3cd,
	'copy-alert': #856404,

	'focus-outline': rgba(38,143,255,.5),
);

$timings: (
	long: 1s,
	short: 0.2s,
	rapid: 0.1s,
);

$borderRadius: 10px;
$transitionStyleShort: map-get($timings, 'rapid') ease;
$transitionStyle: map-get($timings, 'short') ease;
$transitionStyleLong: map-get($timings, 'long') ease;
$focusOutline: 0 0 0 .2rem map-get($colours, 'focus-outline');
