/**
 * App
 */

@import './components/variables';

.App {
	background: map-get($colours, 'background');

	&__header {
		height: 100px;
		padding: 10px 40px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		width: 40px;
		height: 40px;
		display: block;
		margin-right: 10px;
	}

	&__headline[class] {
		color: map-get($colours, 'dark-grey');
		font-weight: 400;
		font-size: 24px;
	}
}
